/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  p {
    padding-left: 15px;
  }

 .ask p {
  display: flex;
  background-color: rgb(235, 231, 226);
  width: 50%;
  margin: auto;
  margin-top: 15px;
  border-left: 5px solid black;
  border-radius: 5px;
}

.answer p {
  display: flex;
  background-color: antiquewhite;
  width: 50%;
  margin: auto;
  margin-top: 15px;
  border-left: 5px solid black;
  border-radius: 5px;
}


.link {
  text-align: center;
  padding-top: 25px;
}
